main {
  min-height: 500px;
}

.cardShopMaster {
  cursor: pointer;
  .btn {
    display: none;
  }
  .btn[disabled] {
    cursor: not-allowed;
  }
}

button[disabled] {
   cursor: not-allowed;
 }

.btn{
  .disabled{
    cursor: not-allowed;
  }
}